sudo: false

language: java
jdk: oraclejdk8

# Scopes:
#  - test
#  - jacoco:report generate coverage report
#  - coveralls:report send the coverage reports to the coveralls service
# Switches:
#  - B: batch mode (no UI)
#  - U: force update, download everytime the dependencies
script: mvn clean test jacoco:report coveralls:report -B -U
